name: KBase SDK Plus tests

on:
  pull_request:
    types:
    - opened
    - reopened
    - synchronize
    - ready_for_review
  push:
    # run workflow when merging to main or develop
    branches:
      - main
      - master
      - develop

jobs:

  kb_sdk_plus_tests:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - java-version: "17"

    steps:
    
    - name: Repo checkout
      uses: actions/checkout@v6
      
    - name: Set up java
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: ${{matrix.java-version}}
    
    - name: Install uv
      uses: astral-sh/setup-uv@v6

    - name: Install dependencies and set up test config
      shell: bash
      env:
        KBASE_CI_TOKEN: ${{ secrets.KBASE_CI_TOKEN }}
        KBASE_CI_TOKEN2: ${{ secrets.KBASE_CI_TOKEN2 }}
      run: |

        # set up python dependencies
        uv sync --locked

        # set up test config
        cp test.cfg.example test.cfg
        sed -i "s#^test.token=.*#test.token=$KBASE_CI_TOKEN#" test.cfg
        sed -i "s#^test.token2=.*#test.token2=$KBASE_CI_TOKEN2#" test.cfg

    - name: Run tests
      shell: bash
      run: uv run ./gradlew test

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true
